{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}E-COMMERCE{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="{% url 'index' %}">E-COMMERCE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text mr-3">Signed in as <strong>{{ user.username }}</strong></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create' %}">Create New Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'watchlist' %}">View Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2poTjU28mMfZp72IO+5IO2n9FoDN4/t6M3niG9Dg5KmgIK9trN/t9" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.min.js" integrity="sha384-O1zFSLQ8R8tDaMyZl7aXbd9eVoC5L6TtST8bk4Y1iiRBO9bnZjA8gYVAGBoHxgk2" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-oS3vJWv+0UjzBv3Emh0Gr6AMvFsdHkDe4S4R0F3yuxbK6P8Ga3wF7dEk5AiDKi4" crossorigin="anonymous"></script>
</body>
</html>
